* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.gridwrapper {
    display: grid;
    grid-template-areas: 
    "he he"
    "na na"
    "ma ma";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 75px 100%;
}


#header {
    display: flex;
    grid-area: he;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    background-image: url(../misc/logo.jpg);
    background-position: center;
    background-size: 100%;
    padding: 30px;
    margin: 60px;
    height: 150px;
    width: 400px;
}


#nav {
    grid-area: na;
    background-color: grey;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: ma;
    background-image: url("../img/baguette.jpg");
    background-position: center;
    background-size: cover;
}

.meny {
    font-size: 80px;
    text-decoration: none;
    color: white;
}

.meny:hover {
    color: black;
}

.meny_system_list {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.meny_link {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.meny_link:hover {
    color: black;
}

    /* css för "kontakta oss" sidan */

#innergrid_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ma;
}

.contact {
    display: flex;
    padding: 30px;
    margin: 60px;
    height: 400px;
    width: 800px;
    background-color: grey;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 30px;
}

/* css för "meny" sidan */

.meny_meals {
    display: flex;
    padding: 30px;
    margin: 60px;
    height: 400px;
    width: 800px;
    background-color: grey; 
}

.meals {
    display: flex;
    height: 100%;
    width: 50%;
    margin-right: 10px;
}
